body
 {
    margin:  0;
	padding:  0;
	box-sizing:  border-box;
 }
 
 .header
 {
    background:  url(bg.jpg);
	height:  100vh;
	width:  100%;
	background-repeat:  no-repeat;
	background-position:  center;
	background-size:  cover;
 }
 
 .navbar 
 {
    text-align:  center;
	padding:  20px;
 }
 
 .navbar a
 {
    text-decoration:  none;
	color:  #fff;
	font-size:  24px;
	margin:  80px;
	border:  2px solid transparent;
	padding:  10px;
	transition:  0.3s;
 }
 
 .navbar a:hover
 {
    background:  #000;
	border:  2px solid #fff;
 }
 
 .head-content
 {
    text-align:  center;
 }
 
 .head-content img
 {
    border-radius:  50%;
	border:  2px solid #fff;
	margin-top:  20px;
 }
 
 .head-content img:hover
 {
    border:  2px solid #000;
 }
 
 .name
 {
    cursor:  pointer;
	font-size:  32px;
	color:  #fff;
	font-family:  Algerian;
 }
 
 .desc
 {
    cursor: default;
	font-size:  28px;
	color:  #fff;
	font-family:  Harlow Solid;
 }
 
 .about-section h2
 {
    text-align:  center;
	font-size:  24px;
	font-family:  sans-serif;
	text-decoration:  underline;
 }	
 
 .about-section p 
 {
    font-size:  18px;
	font-family:  roboto;
	width:  1000px;
	text-align:  center;
	margin:  0 auto;
	border:  2px solid gray;
	padding:  15px;
 }
 
 .skills-section
 {
    width:  100%
	height:  400px;
	background:  #9ea0a3;
	text-align:  center;
 }
 
 .skills-section h2
 {
    text-decoration:  underline;
	font-size:  24px;
	font-family:  sans-serif;
	padding:  10px;
 }
 
 .skills-section img
 {
    height:  100px;
	width:  100px;
	border: 2px solid transparent;
 }
 
 .skills-section img:hover
 {
    border:  2px solid #fff;
	transition:  0.3s;
 }

 
 

 
 
    
 
	
   